<!-- Page Content -->
<div class="container mr-top-custom">
    <div class="row">
        <div class="col-sm-6" *ngIf="barChartData">
            <app-bar-chart [colors]="barChartColor" [barChartLabels]="barChartLabels" [barChartType]="barChartType" [barChartLegend]="barChartLegend" [barChartData]="barChartData"></app-bar-chart>
        </div>
        <div class="col-sm-6">
            <app-pie-chart [colors]="pchartColors" [pieChartData]="pieChartData" [pieChartLabels]="pieChartLabels" (onClickChart)="onClickChart($event)"></app-pie-chart>
        </div>
    </div>
</div>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->